<section class='main-block'>
	<h2 class='main-block__name'>This / From</h2>
  <section class="main-block__item simple-information">
		<h3 class='simple-information__main-text'>5,3 сек</h3>
		<h4 class='simple-information__addit-text'>в среднем за 5,1 сек</h4>
	</section>
</section>
