<section class='main-block'>
	<h2 class='main-block__name'>This / From</h2>
  <section class="main-block__item statistic-of">
		<div class='statistic-of__text'>
			<h3 class='statistic-of__main-text'>69 000 000</h3>
			<h4 class='statistic-of__addit-text'>$250 000  -  2% сожжено</h4>
		</div>
		<svg class='statistic-of__graph'></svg>
	</section>
  <section class="main-block__item statistic-of">
		<div class='statistic-of__text'>
			<h3 class='statistic-of__main-text'>69 000 000</h3>
			<h4 class='statistic-of__addit-text'>$250 000  -  2% сожжено</h4>
		</div>
		<svg class='statistic-of__graph'></svg>
	</section>
</section>
