<td class='transaction__text transaction__hesh'>
	<a href="#">Mt8...39e</a>
</td>
<td class='transaction__text transaction__time'>
	<span>
		2019-08-08
		16:20:08
	</span>
</td>
<td class='transaction__text transaction__number'>
	<span class="transaction__number--default">
		136 546.63  CASH
	</span>
	<span class="transaction__number--bip">
		300  BIP
	</span>
</td>
<td class='transaction__text transaction__type'>
	<span>
    Set Candidate
    Offline
	</span>
</td>
