<td class="validator__info ">
	<span class='validator__number'>1</span>
	<div class="validator__profile profile">
		<img src="./" class='profile__icon' alt="">
		<div class='profile__info'>
			<h2 class='profile__name'>Minter One</h2>
			<div class='profile__hash hash'>
				<h3 class='hash__text'>Mpaaaa..777777</h3>
				<img src="./" class='hash__copy' alt="copy">
			</div>
		</div>
	</div>
</td>
<td class="validator__commission">
	<span>
    10%
  </span>
</td>
<td class="validator__stake stake">
  <span class='stake__value'>80 229 724 BIP</span>
  <div class='stake__status'>
    <img src="./" alt="Up">
    <img src="./" alt="Down">
    <span class='stake__value--status'>467 203</span>
  </div>
</td>
<td class="validator__strength strength">
  <span class='strength__value'>16%</span>
</td>
<td class="validator__min-stake min-stake">
  <span class='min-stake__value'>6 050 BIP</span>
</td>
<td class="validator__burn burn">
  <span class='burn__value'>0</span>
  <div class='burn__status'>
    <img src="./" alt="">
    <span class='burn__value--satus'></span>
  </div>
</td>
<td class="validator__rate rate">
  <span class='rate__value'>80</span>
  <div class='rate__status'>
    <img src="./" alt="Up">
    <img src="./" alt="Down">
    <span class='rate__value--status'>5</span>
  </div>
</td>
